
  
  
  
  .title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #1a202c;
  }
  
  .title.dark {
    color: #edf2f7;
  }
  
  .subtitle {
    font-size: 1rem;
    color: #718096;
  }
  
  .subtitle.dark {
    color: #a0aec0;
  }
  
  