.perimeter {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .image-gallery {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin-bottom: 20px;
  }
  
  .thumbnail {
    cursor: pointer;
    margin-right: 10px;
    height: auto;
    width: 100px;
    flex-shrink: 0;
  }
  
  .image {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
  
  .product-details {
    padding: 20px;
  }
  
  @media (min-width: 415px) {
    .perimeter {
      flex-direction: row;
    }
    
    .image {
      flex: 0 0 50%;
    }
  
    .product-details {
      flex: 1;
    }
  }
  
  @media (min-width: 800px) {
    .image {
      flex: 0 0 33.5%;
    }
  
    .product-details {
      flex: 1;
    }
  }
  